:root {
    --background-linear-primary: linear-gradient(#bd973e 0%, #f9df6a 46.85%, #bc973e 100%);
    --color-black: #17181a;
    --color-black-1c1c1c: #1c1c1c;
    --color-golden: #cdb357;
    --color-grey: #707070;
}